@model GlobalPortal.Api.Demo.Models.GenericModel<InsuranceModel>

@using GlobalPortal.Api.Models.Insurances
@using GlobalPortal.Api.Demo.Views.Insurances
@using GlobalPortal.Api.Demo.Properties

@{
    ViewBag.Title = IndexResources.PageTitle;
}

<h2>@IndexResources.MainHeader</h2>

@if (Model.ResultMessage != string.Empty)
{
    <div class="alert alert-success alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>@Model.ResultMessage</div>
}
@if (Model.ErrorMessage != string.Empty)
{
    <div class="alert alert-danger alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>@Model.ErrorMessage</div>
}

<div class="panel panel-default">
    <div class="panel-heading">@Resources.ResultsHeader</div>
    <div class="panel-body">
        @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage) || Model.Data.ExternalId == null)
        {
            <div class="row form-group">
                <label for="resultId" class="col-sm-2 control-label">@Resources.ID</label>
                <div class="col-sm-8">
                    @Html.TextBox("resultId", null, new { @class = "form-control", disabled = "disabled", id = "resultId" })
                </div>
            </div>
            <div class="row form-group">
                <label for="resultCompanyName" class="col-sm-2 control-label">@IndexResources.CompanyName</label>
                <div class="col-sm-8">
                    @Html.TextBox("resultCompanyName", null, new { @class = "form-control", disabled = "disabled", id = "resultCompanyName" })
                </div>
            </div>
            <div class="row form-group">
                <label for="resultActive" class="col-sm-2 control-label">@IndexResources.ResultActive</label>
                <div class="col-sm-8">
                    @Html.TextBox("resultActive", null, new { @class = "form-control", disabled = "disabled", id = "resultActive" })
                </div>
            </div>
            <div class="row form-group">
                <label for="resultType" class="col-sm-2 control-label">@IndexResources.Type</label>
                <div class="col-sm-8">
                    @Html.TextBox("resultType", null, new { @class = "form-control", disabled = "disabled", id = "resultType" })
                </div>
            </div>
        }
        else
        {
            <div class="row form-group">
                <label for="resultId" class="col-sm-2 control-label">@Resources.ID</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Data.ExternalId, null, new { @class = "form-control", disabled = "disabled", id = "resultId" })
                </div>
            </div>
            <div class="row form-group">
                <label for="resultCompanyName" class="col-sm-2 control-label">@IndexResources.CompanyName</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Data.CompanyName, null, new { @class = "form-control", disabled = "disabled", id = "resultCompanyName" })
                </div>
            </div>
            <div class="row form-group">
                <label for="resultActive" class="col-sm-2 control-label">@IndexResources.ResultActive</label>
                <div class="col-sm-8">
                    @Html.TextBox("resultActive", Model.Data.Active ? Resources.Yes : Resources.No, new { @class = "form-control", disabled = "disabled", id = "resultActive" })
                </div>
            </div>
            <div class="row form-group">
                <label for="resultType" class="col-sm-2 control-label">@IndexResources.Type</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Data.InsuranceType, null, new { @class = "form-control", disabled = "disabled", id = "resultType" })
                </div>
            </div>
            <div class="row col-sm-12">
                @using (Html.BeginForm("Delete", "Insurances", FormMethod.Post))
                {
                    <input name="id" class="form-control" type="hidden" value="@Model.Data.ExternalId" />
                    <button class="btn btn-primary" @(Model.Data.ExternalId == null || Model.ErrorMessage != string.Empty ? "disabled" : "" )>@Resources.DeleteData</button>
                }
            </div>
        }
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">@Resources.AddHeader</div>
    <div class="panel-body">
        @using (Html.BeginForm("Send", "Insurances", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.ValidationSummary(true)
            <div class="form-group">
                <label for="Data_ExternalId" class="col-sm-2 control-label">@Resources.ID</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Data.ExternalId, null, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="Data_CompanyName" class="col-sm-2 control-label">@IndexResources.CompanyName</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Data.CompanyName, null, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label for="Data_Active" class="col-sm-2 control-label">@IndexResources.Active</label>
                <div class="col-sm-8">
                    @Html.CheckBoxFor(m => m.Data.Active)
                </div>
            </div>
            <div class="form-group">
                <label for="Data_InsuranceType" class="col-sm-2 control-label">@IndexResources.Type</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Data.InsuranceType, null, new { @class = "form-control" })
                </div>
            </div>
            <button class="btn btn-primary">@Resources.SendData</button>
        }
    </div>
</div>


