
@model GlobalPortal.Api.Demo.Models.GenericModel<FamilyRelationshipModel>

@using GlobalPortal.Api.Models.FamilyRelationships
@using GlobalPortal.Api.Demo.Models
@using GlobalPortal.Api.Demo.Views.FamilyRelationships
@using GlobalPortal.Api.Demo.Properties

@{
    ViewBag.Title = IndexResources.PageTitle;
}

<h2>@IndexResources.MainHeader</h2>
@if (Model.ResultMessage != string.Empty)
{
    <div class="alert alert-success alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>@Model.ResultMessage</div>
}
@if (Model.ErrorMessage != string.Empty)
{
    <div class="alert alert-danger alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>@Model.ErrorMessage</div>
}

<div class="panel panel-default">
    <div class="panel-heading">@Resources.ResultsHeader</div>
    <div class="panel-body">
        @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage) || Model.Data.ExternalId == null)
        {
            <div class="row form-group">
                <label for="resultId" class="col-sm-2 control-label">@Resources.ID</label>
                <div class="col-sm-8">
                    @Html.TextBox("resultId", null, new { @class = "form-control", disabled = "disabled", id = "resultId" })
                </div>
            </div>
            <div class="row form-group">
                <label for="resultName" class="col-sm-2 control-label">@IndexResources.Name</label>
                <div class="col-sm-8">
                    @Html.TextBox("resultName", null, new { @class = "form-control", disabled = "disabled", id = "resultName" })
                </div>
            </div>
            <div class="row form-group">
                <label for="resultSortOrder" class="col-sm-2 control-label">@IndexResources.SortOrder</label>
                <div class="col-sm-8">
                    @Html.TextBox("resultSortOrder", null, new { @class = "form-control", disabled = "disabled", id = "resultSortOrder" })
                </div>
            </div>
            <div class="row form-group">
                <label for="resultIsDefault" class="col-sm-2 control-label">@IndexResources.ResultIsDefault</label>
                <div class="col-sm-8">
                    @Html.TextBox("resultIsDefault", null, new { @class = "form-control", disabled = "disabled", id = "resultIsDefault" })
                </div>
            </div>
        }
        else
        {
            <div class="row form-group">
                <label for="resultId" class="col-sm-2 control-label">@Resources.ID</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Data.ExternalId, null, new { @class = "form-control", disabled = "disabled", id = "resultId" })
                </div>
            </div>
            <div class="row form-group">
                <label for="resultName" class="col-sm-2 control-label">@IndexResources.Name</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Data.Name, null, new { @class = "form-control", disabled = "disabled", id = "resultName" })
                </div>
            </div>
            <div class="row form-group">
                <label for="resultSortOrder" class="col-sm-2 control-label">@IndexResources.SortOrder</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.Data.SortOrder, null, new { @class = "form-control", disabled = "disabled", id = "resultSortOrder", @type = "number" })
                </div>
            </div>
            <div class="row form-group">
                <label for="resultIsDefault" class="col-sm-2 control-label">@IndexResources.ResultIsDefault</label>
                <div class="col-sm-8">
                    @Html.TextBox("resultIsDefault", Model.Data.IsDefault ? Resources.Yes : Resources.No, new { @class = "form-control", disabled = "disabled", id = "resultIsDefault" })
                </div>
            </div>
            <div class="row col-sm-12">
                @using (Html.BeginForm("Delete", "FamilyRelationships", FormMethod.Post))
                {
                    <input name="id" class="form-control" type="hidden" value="@Model.Data.ExternalId" />
                    <button class="btn btn-primary" @(Model.Data.ExternalId == null || Model.ErrorMessage != string.Empty ? "disabled" : "" )>@Resources.DeleteData</button>
                }
            </div>
        }
      </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">@Resources.AddHeader</div>
    <div class="panel-body">
        <div class="code">
            @using (Html.BeginForm("Send", "FamilyRelationships", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <label for="ExternalId" class="col-sm-2 control-label">@Resources.ID</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.Data.ExternalId, null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="Name" class="col-sm-2 control-label">@IndexResources.Name</label>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(m => m.Data.Name, null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="SortOrder" class="col-sm-2 control-label">@IndexResources.SortOrder</label>
                    <div class="col-sm-8">

                        @Html.TextBoxFor(m => m.Data.SortOrder, null, new { @class = "form-control", @type = "number" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="IsDefault" class="col-sm-2 control-label">@IndexResources.IsDefault</label>
                    <div class="col-sm-8">
                        @Html.CheckBoxFor(m => m.Data.IsDefault)
                    </div>
                </div>
               <button class="btn btn-primary">@Resources.SendData</button>
            }
        </div>
    </div>
</div>



