@model GlobalPortal.Api.Demo.Models.GenericModel<PatientUpdateModel>

@using GlobalPortal.Api.Models.PatientUpdates
@using GlobalPortal.Api.Demo.Views.CommunicationUpdatesPatients
@using GlobalPortal.Api.Demo.Properties

@{
	ViewBag.Title = IndexResources.PageTitle;
	var patientExternalID = Model.Criteria["PatientExternalID"];
	var method = Model.Criteria["Method"];
	var alreadysent = Model.Criteria["AlreadySent"];
}

<h2>@IndexResources.MainHeader</h2>

@if (Model.ErrorMessage != string.Empty)
{       
    <div class="alert alert-danger alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>@Model.ErrorMessage</div>
}

<div class="panel panel-default">
    <div class="panel-heading">@Resources.SearchResults</div>
    <div class="panel-body">
		@using (Html.BeginForm("Index", "CommunicationUpdatesPatients", FormMethod.Get, new { @class = "form-group" }))
        {
			<div class="form-group">
				<label for="alreadysent">@IndexResources.AlreadySent</label>
				<br />
				<div class="no-padding-left">
					<select name="alreadysent" class="form-control">
						<option value="" @(String.IsNullOrEmpty(alreadysent) ? "selected" : "")>@IndexResources.All</option>
						<option value="true" @(alreadysent == "True" ? "selected" : "")>@Resources.Yes</option>
						<option value="false" @(alreadysent == "False" ? "selected" : "")>@Resources.No</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="method">@IndexResources.CommunicationMehod</label>
				<br />
				<div class="no-padding-left">
					<select name="method" class="form-control">
						<option value="" @(String.IsNullOrEmpty(method) ? "selected" : "")>@IndexResources.All</option>
						<option value="Email" @(method == "Email" ? "selected" : "")>@IndexResources.Email</option>
						<option value="Sms" @(method == "Sms" ? "selected" : "")>@IndexResources.SMS</option>
						<option value="Voice" @(method == "Voice" ? "selected" : "")>@IndexResources.Voice</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="patientExternalID">@IndexResources.PatientExternalID</label>
				<input type="text" name="patientExternalID" id="patientExternalID" value="@patientExternalID" class="form-control" />
			</div>
			<div class="form-group">
				<button class="btn btn-primary" type="submit">@Resources.Search</button>
			</div>
		}
        
        @if (!string.IsNullOrWhiteSpace(Model.ListEmptyMessage))
        {
            <div class="alert alert-danger alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>@Model.ListEmptyMessage</div>
        }

        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <colgroup>
					<col class="col-xs-4">
                    <col class="col-xs-2">
                    <col class="col-xs-2">
                    <col class="col-xs-2">
                    <col class="col-xs-2">
                </colgroup>
                <thead>
                    <tr>
						<th>@IndexResources.PatientUpdateID</th>
                        <th>@IndexResources.PatientExternalID</th>
                        <th>@IndexResources.CommunicationMehod</th>
                        <th>@IndexResources.UpdateAllowSmsRemindersTo</th>
                        <th>@IndexResources.RecallContactLater</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.SearchResults.Rows)
                    {
                        <tr>
							<td>@(item.PatientUpdateID)</td>  
                            <td>@(item.PatientExternalID)</td>  
                            <td>@(item.Method)</td>
                            <td>@(item.UpdateAllowSmsRemindersTo.Value ? @Resources.Yes : Resources.No)</td>
                            <td>@(item.RecallContactLater ? @Resources.Yes : Resources.No)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>